.loco-info {
  position: absolute;
  z-index: 1000;

  top: 200;
  left: 10;
  width: 282;
  height: fit-content;

  background: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  display: none;
  font-family: Arial, sans-serif;
}

.loco-info h2 {
  margin: 0;
  padding: 10;
  font-size: 24;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 68, 141, 0.75);
}

#locoIMG {
  display: block;
  margin: auto;
  width: 250;
  padding: 10 10 5 10;
}

.loco-info p {
  margin: 5;
  padding: 4 5 2 5;
  text-align: center;
  background-color: rgb(154, 154, 154);
}

.loco-info table {
  width: 260;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  table-layout: fixed;
  margin-bottom: 8;
}

.loco-info table .odd  { background: rgb(244, 244, 244); }

.loco-info td {
  padding: 4px 6px;
  vertical-align: top;
  word-wrap: break-word;
  white-space: normal;
}

.loco-info td:first-child {
  font-weight: bold;
  text-align: left;
  width: 50%;
}

.loco-info td:last-child {
  text-align: right;
  font-weight: normal;
  width: 50%;
}