.train-marker {
  position: relative;
  width: 16;
  height: 16;
}

.train-marker .circle {
  position: absolute;
  width: 13;
  height: 13;
  top: 0;
  left: 0;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.train-marker .arrow {
  position: absolute;
  width: 1;
  height: 0;
  top: 50%;
  left: 50%;

  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 7px solid rgb(0, 0, 0);
}

.custom-popup .leaflet-popup-content-wrapper {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 68, 141, 0.8);

  font-weight: normal;
  font-size: 11;

  padding: 4 5;
  border-radius: 0;

  box-shadow: none;
  transform: translateX(-50%);
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}

.custom-popup .leaflet-popup-content {
  margin: 0;
  white-space: nowrap;
}