#trainSearch {
  position: absolute;
  height: 35;
  width: 245;

  text-indent: 5;

	border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-clip: padding-box;
  background-image: url(/img/sea.png);
  background-position: 210px 2px; 
  background-repeat: no-repeat;
}

#trainSearch::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

#trainSearch:focus {
  border-bottom: 2px solid rgba(0, 68, 141, 0.75);
  transition: border-bottom 0.5s ease;
}

#trainSearch:hover {
  background-color: rgb(244, 244, 244);
}

#suggestions {
  position: absolute;
  width: 241;
  max-height: 150;
  top: 35;

	border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background: rgba(255, 255, 255, 0.8);
  background-clip: padding-box;

  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14;

  display: none;
  overflow-y: auto;
}

#suggestions .loc {
  font-weight: bold;
}

#suggestions div {
  padding: 5 8;
  cursor: pointer;
}

#suggestions div:hover {
  color: white;

  background: rgba(0, 68, 141, 0.8);
}

#suggestions div {
  padding: 6 8;
  cursor: pointer;
  border-bottom: 1px solid rgb(204, 204, 204);
}

#suggestions div:last-child {
  border-bottom: none;
}

#suggestions::-webkit-scrollbar {
  display: none;
}

.leaflet-bottom .leaflet-control-zoom {
  right: 128;
}

#legend {
  position: absolute;
  z-index: 1000;
  bottom: 27;
  right: 10;
  height: 115;
  width: 106;
  padding: 4;
  background: rgba(255,255,255,0.9);
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13;
  line-height: 0;
}

#legend h4 {
  font-size: 14;
  margin: 0;
  padding: 11 0 17 0;
  text-align: center;
}

.legend-item {
  display: flex;
  margin-bottom: 6;
  margin-left: 4;
  align-items: center;
}

.legend-item .circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 6px;
  border: 1px solid rgb(0, 0, 0);
}